* {
    margin: 0px;
    padding: 0px;
    
}

body {
   
}
.container {
   padding: 30px;
   border-radius: 10px;
  
}

.introducao {
   
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: rgba(0, 128, 0, 0.345);
    border-radius: 20px;
}

.introducao > h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: whitesmoke;
}


h1 {
    font-family: "Reenie Beanie", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.827);

  }

  h2 {
    font-family: "Reenie Beanie", serif;
    font-weight: bolder;
    font-size: 85px;
    color: rgba(28, 95, 6, 0.827);
  }
  

header {
    height: 700px;
    background-image: url(imagens/flexa.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

 a {
   text-decoration: none;
   color: white;
   font-size: 30px;
   padding: auto;
   margin: 10px;
  
}
main {
    height: 1500px;
    text-align: center;
}

footer {
    margin-top: 200px;
    height: 250px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: rgba(29, 84, 29, 0.858);
}

footer > p {
    font-family: "Reenie Beanie", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.827);
}
.menor {
    font-family: "Reenie Beanie", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.827);
}